*
{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
}

body{
    background: url(raf.jpg);
    background-size: cover;
    background-color: plum ;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form{
    background:#13181c;
    padding: 50px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    
}

form h1{
    font-size: 50;
    color:white ;
    margin-bottom: 30px;
}

form input {
    border:none;
    background: none;
    text-align: center;
    outline: none;
    padding: 4px;
    margin:8px;
    color:white ;
    height:30px;
    width:120%;
    border-radius: 40px;
    transition: 0.2s ease-in;
}

form input[type="text"], form input[type="password"],form input[type="email"]{
    border:solid 2px #1B9CFC
}

form input[type="submit"]{
    border:solid 2px #55E6C1;
    box-sizing: border-box;
    height:50px;
    width:100%;
    cursor: pointer;
}


form input[type="text"]:focus, form input[type="password"]:focus, form input[type="email"]:focus{

    border:solid 2px #55E6C1;
}
form input[type="submit"]:hover{
    background: #55E6C1;
    color:#182C61;
}
