body{
   background:url("kitap.jpg");
 
   background-repeat: repeat-x;
   background-size: cover;
   
}

.signup{
      margin-top: 10vh;
      position: relative;
      margin-right: auto;
      margin-left: auto;
      height: 100vh;
      width: 35%;
      background-color: #13181c;
      opacity:0.9;
      border-radius: 15px;
}

.add{
  
   position: relative;
   margin-right: auto;
   margin-left: auto;
   height: 50vh;
   width: 26%;
   background-color: #14191d;
   opacity:0.9;
   border-radius: 15px;
}
#white{
   color: white;
}
.h1-1{
   padding-top: 10%;
}
.hold{
   width: 60%;
   margin-top:14%;
   height: 6.5vh;
   border:1px solid #474787;
   background: black;
   
   padding-left:3%;
   outline: none;
}
.box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid  #7177c7 ;
    padding: 14px 10px;
    outline: none;
    color: rgb(24, 123, 209);
    
    transition: 0.25px;
    cursor: pointer;

}
.hold2{
   width: 60%;
   margin-top:8%;
   height: 6.5vh;
   border:1px solid #474787;
   background: black;
   
   padding-left:3%;
   outline: none;
}
.btn-1{
   margin-top:12%;
   width: 40%;
   outline: none;
   height: 8vh;
   border-radius: 20px;
   border: none;
   background: linear-gradient(90deg, rgba(29,129,130,1) 0%, rgb(62, 32, 232) 100%);
}
.btn-1:hover{
   opacity: 0.7;
}
.btn-1:active{
   opacity: 0.8;
}
@media screen and (max-width:720px){
   .login{
       margin-top: 0;
       width: 100%;
       height: 100vh;
       border-radius: 0;
   }
   .h1-1{
   padding-top: 25%;
}
   .btn-1{
       height: 10vh;
   }
}