#box
{
    max-width: 200p;
    position:relative;
}

#box .fa-search
{
    position: absolute;
    top:10px;
    left:10px;
    font-size: 20px;
    color:cornflowerblue;
}
#search
{
    width:100px;
    box-sizing: border-box;
    border:2px solid cornflowerblue;
    font-size:18px;
    padding:10px 6px 6px 40px;
    /*moz-transition: width 0:4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/

}

#search:focus{
    width:100%
}